{% extends "!layout.html" %}

{% block extrahead %}
	<link rel="stylesheet" type="text/css" href="{{ pathto('_static/geomoose.css', 1) }}"/>
	<link rel="stylesheet" href="{{ pathto('_static/font-awesome/css/font-awesome.min.css', 1) }}">
	<!--[if IE 7]>
		<link rel="stylesheet" href="{{ pathto('_static/font-awesome/css/font-awesome-ie7.min.css', 1) }}">
	<![endif]-->

{% endblock %}

{% block relbar1 %}
<div class="related">
	<ul></ul>
</div>
{% endblock %}
{% block relbar2 %}{% endblock %}

{% block sidebarlogo%}
<a href="http://www.osgeo.org"><img src="{{ pathto('_static/osgeo.png', 1) }}"/></a><br/>
<a href="http://2015.foss4g.org/"><img style="display:block;margin-top:0.5em;margin-left:auto;margin-right:auto;" src="https://foss4g2015.files.wordpress.com/2014/11/foss4g2015_a1_150x752.png" alt="FOSS4G2015_logo" height="75" width="150"/></a>
{% endblock %}


{% block header %}
<div style="background-color: white; padding: 1em">
	<div style="float: left">
		<a href="/"><img src="{{ pathto("_static/logo_2011.png", 1) }}" alt="GeoMOOSE Logo"/></a>
	</div>

	<div class="header-links">
		<span style="font-decoration: italic; font-size: x-large">The Home of GeoMOOSE!</span>
		<br><br>
		<a href="{{ pathto('index') }}" title="Home"><i class="icon-home"></i> Home</a> 
		<!--
		<a href="http://www.geomoose.org/wiki/index.php/Main_Page" title="Wiki">Wiki</a> 
		-->
		<a href="http://demo.geomoose.org/"><i class="icon-globe"></i> Demo</a> 
		<!--
		<a href="{{ pathto('getting_started') }}">Getting Started</a> 
		-->
		<a href="{{ pathto('documentation') }}" title="GeoMOOSE Write-ups, Hows"><i class="icon-book"></i> Documentation</a> 
		<a href="{{ pathto('developer/index') }}" title="GeoMOOSE Developer Documentation"><i class="icon-wrench"></i> Developers</a> 
		<!--
		<a href="http://trac.osgeo.org/geomoose/" title="GeoMOOSE Trac Instance">Bug Tracker</a> 
		-->
		<a href="{{ pathto('download') }}" title="Download"><i class="icon-download"></i> Download</a>
	</div>
	<div style="clear: both"></div>
	{{ super () }}
</div>
{% endblock %}

{% block footer %}
<div class="footer">
	<div>
	&copy; Copyright 2009-2014, Dan "Ducky" Little under <a href="http://docs.geomoose.org/info/license.html">License</a>.
	</div>
	<div>
	Hosting graciously provided by:
	<a title="SharedGeo" href="http://www.sharedgeo.org"><img style="vertical-align: middle" src="{{ pathto('_static/sg.png', 1) }}"/></a>
	</div>
</div>
{% endblock %}
