{% extends "!layout.html" %}

{% block extrahead %}
	<link rel="stylesheet" type="text/css" href="{{ pathto('_static/geomoose.css', 1) }}"/>
	<link rel="stylesheet" href="{{ pathto('_static/font-awesome/css/font-awesome.min.css', 1) }}">
	<!--[if IE 7]>
		<link rel="stylesheet" href="{{ pathto('_static/font-awesome/css/font-awesome-ie7.min.css', 1) }}">
	<![endif]-->

{% endblock %}

{% block relbar1 %}{% endblock %}
{% block relbar2 %}{% endblock %}

{% block header %}
<div id="header">
	<div class="logo">
		<a href="/"><img src="{{ pathto("_static/logo_2011.png", 1) }}" alt="GeoMoose Logo"/></a>
	</div>

	<div class="header-links">
		<a href="{{ pathto('index') }}" title="Home"><i class="icon-home"></i> Home</a> 
		<a href="{{ pathto('faq') }}" title="FAQ"><i class="icon-question-sign"></i> FAQ</a> 
		<a target="_blank" href="http://demo.geomoose.org/"><i class="icon-globe"></i> Demo</a> 
		<a href="{{ pathto('documentation') }}" title="GeoMoose Write-ups, Hows"><i class="icon-book"></i> Documentation</a> 
		<a href="{{ pathto('developer/index') }}" title="GeoMoose Developer Documentation"><i class="icon-wrench"></i> Developers</a> 
		<a href="{{ pathto('download') }}" title="Download"><i class="icon-download"></i> Download</a>
	</div>
	{{ super () }}
</div>
{% endblock %}

{% block footer %}
<div class="footer">
	<div>
	&copy; Copyright 2009-2017, Dan "Ducky" Little under <a href="http://docs.geomoose.org/info/license.html">License</a>.
	</div>
</div>
{% endblock %}
