{% extends "!layout.html" %}

{% block extrahead %}
	<link rel="stylesheet" type="text/css" href="{{ pathto('_static/geomoose.css', 1) }}"/>
	<link rel="stylesheet" href="{{ pathto('_static/font-awesome/css/font-awesome.min.css', 1) }}">
	<!--[if IE 7]>
		<link rel="stylesheet" href="{{ pathto('_static/font-awesome/css/font-awesome-ie7.min.css', 1) }}">
	<![endif]-->

{% endblock %}

{% block relbar1 %}
<div class="related">
	<ul></ul>
</div>
{% endblock %}
{% block relbar2 %}{% endblock %}

{% block sidebarlogo%}
<img src="{{ pathto('_static/osgeo.png', 1) }}"/>
{% endblock %}


{% block header %}
<div style="background-color: white">
	<!--<div style="float: left; padding: 30px 10px 15px 15px">-->

	<div style="padding-top: 1em">
		<div style="float: left">	
			<a href="/"><img src="{{ pathto("_static/logo_2011.png", 1) }}" alt="GeoMOOSE Logo"/></a>
		</div>
		<div style="float: right; padding-top: 30px; padding-right: 5px">
			<span style="font-decoration: italic; font-size: x-large">The Home of GeoMOOSE!</span><br/>
		</div>
	</div>

	<div class="header-links">
		<a href="{{ pathto('index') }}" title="Home"><i class="icon-home"></i> Home</a> 
		<!--
		<a href="http://www.geomoose.org/wiki/index.php/Main_Page" title="Wiki">Wiki</a> 
		-->
		<a href="http://demo.geomoose.org/"><i class="icon-globe"></i> Demo</a> 
		<!--
		<a href="{{ pathto('getting_started') }}">Getting Started</a> 
		-->
		<a href="http://docs.geomoose.org/" title="GeoMOOSE Write-ups, Hows"><i class="icon-book"></i> Documentation</a> 
		<a href="{{ pathto('developer/index') }}" title="GeoMOOSE Developer Documentation"><i class="icon-wrench"></i> Developers</a> 
		<!--
		<a href="http://trac.osgeo.org/geomoose/" title="GeoMOOSE Trac Instance">Bug Tracker</a> 
		-->
		<a href="{{ pathto('info/download') }}" title="Download"><i class="icon-download"></i> Download</a>
	</div>

	<div style="clear: both"></div>


	{{ super () }}
</div>
{% endblock %}

{% block footer %}
<div class="footer">
	<div>
	&copy; Copyright 2009-2013, Dan "Ducky" Little under <a href="http://docs.geomoose.org/info/license.html">License</a>.
	</div>
	<div>
	Hosting graciously provided by:
	<a title="SharedGeo" href="http://www.sharedgeo.org"><img style="vertical-align: middle" src="{{ pathto('_static/sg.png', 1) }}"/></a>
	</div>
</div>
{% endblock %}
