/* dark green: #277b3c */

body {
	background-color: #dddddd; 
	padding-top: 100px;
	margin: 0px 10px 0px 10px;
}

#header .logo {
	height: 75px;
}

.header-links {
	padding-top: 5px;
}

a {
	color: #6dbe45;
}

.header-links a {
	color: black;
	font-size: 15px;
	padding-left: .5em;
	cursor: pointer;
}

.header-links a:hover {
	color: #277b3c;
	text-decoration: underline;
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	border-bottom: solid 1px black;
	text-align: left;

	background-color: white;
	background-image: url(parcel_bg.png);
	background-repeat: no-repeat;
	background-position: top right;
}

/* not my favorite centering hack, but it 
   did make the image position look nicer. */
.sphinxsidebarwrapper img {
	margin-left: 25px;
}

div.related ul li a {
	color: #6dbe45;
}

div.related ul {
	height: .5em;
}

h1 {
	color: #277b3c;
}

div.sphinxsidebar h3, div.sphinxsidebar h4 {
	background-color: #4B7455;
}

span.strikethrough { text-decoration: line-through; }

span.highlight { background-color: yellow; }

div.footer {
	background-color: #eee;
}

.logo-byline {
	font-size: 8pt;
	padding-top: 5px;
}

.handy-panel {
	text-align: center;
}

.handy-panel .panel {
	display:  inline-block;
	border: solid 1px #eee;
	width: 100px;
	height: 70px;
	margin: 5px;
	padding: 5px;
	text-align: center;

	text-decoration: none;
}

.handy-panel .panel i {
	display: block;
	font-size: 40px;
}

